{#- Renders a single fieldset group with collapse/expand toggle.
    Context variables:
      - group: FieldsetGroup instance (name, fields, collapsed, description, slug)
      - form: PydanticForm instance (for layout_css_class)
-#}
{%- if group.name -%}
<fieldset class="ha-fieldset" data-testid="fieldset-{{ group.slug }}"
    x-data="{ open: {{ 'false' if group.collapsed else 'true' }} }">
    <legend class="ha-fieldset-legend">
        <button type="button"
                class="ha-fieldset-toggle"
                data-testid="fieldset-toggle-{{ group.slug }}"
                @click="open = !open"
                :aria-expanded="open">
            <span x-text="open ? '▾' : '▸'" class="ha-fieldset-arrow"></span>
            {{ group.name }}
        </button>
    </legend>
    {%- if group.description -%}
    <p class="ha-fieldset-description" x-show="open">{{ group.description }}</p>
    {%- endif -%}
    <div x-show="open" x-collapse class="{{ form.layout_css_class }}">
        {%- for field in group.fields -%}
            {%- set widget = field.widget -%}
            {%- include field.widget.template_path -%}
        {%- endfor -%}
    </div>
</fieldset>
{%- else -%}
{#- Ungrouped fields (no fieldset header) -#}
<div class="{{ form.layout_css_class }}">
{%- for field in group.fields -%}
    {%- set widget = field.widget -%}
    {%- include field.widget.template_path -%}
{%- endfor -%}
</div>
{%- endif -%}
