{#-
    Renders a text input field with a label.

    **Macro: input**

    - `name` (string): The name of the input field.
    - `label` (string): The text for the label.
    - `type` (string, optional, default='text'): The type of the input (e.g., 'text', 'email', 'password').
    - `placeholder` (string, optional): The placeholder text for the input.
    - `value` (string, optional): The initial value of the input.
    - `class` (string, optional): Additional CSS classes to apply to the input.
-#}
{% macro input(name, label, type='text', placeholder='', value='', class='') %}
    <div class="mb-4">
        <label for="{{ name }}" class="block text-gray-700 text-sm font-bold mb-2">{{ label }}</label>
        <input
            type="{{ type }}"
            id="{{ name }}"
            name="{{ name }}"
            placeholder="{{ placeholder }}"
            value="{{ value }}"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline {{ class }}"
        >
    </div>
{% endmacro %}
