{%- set display_name = model_name if field == '__str__' else field.replace('_', ' ').title() -%}
{%- set filter_params -%}
    {%- for key, value in active_filters.items() -%}&filter_{{ key }}={{ value }}{%- endfor -%}
{%- endset -%}
{%- if field == '__str__' -%}
<th class="ha-table-th">{{ display_name }}</th>
{%- else -%}
<th class="ha-table-th">
    <a href="{{- url_for(model_name|lower ~ '-list') }}?sort_by={{ field }}&sort_direction={{ 'desc' if sort_by == field and sort_direction == 'asc' else 'asc' }}&search={{ search_query }}&page={{ pagination.page }}{{ filter_params -}}"
       hx-get="{{- url_for(model_name|lower ~ '-list') }}?sort_by={{ field }}&sort_direction={{ 'desc' if sort_by == field and sort_direction == 'asc' else 'asc' }}&search={{ search_query }}&page={{ pagination.page }}{{ filter_params -}}"
       hx-target="#model-list"
       hx-swap="outerHTML"
       class="ha-table-sort-link"
       data-testid="sort-{{ field }}">
        {{- display_name -}}
        {%- if sort_by == field -%}
            {%- if sort_direction == 'asc' -%}
                &#9650;
            {%- else -%}
                &#9660;
            {%- endif -%}
        {%- endif -%}
    </a>
</th>
{%- endif -%}