{%- from "components/_macros.html" import field_wrapper -%}
{%- call field_wrapper(field) -%}
    <select id="{{- field.name -}}" {# -#}
            name="{{- field.name -}}" {# -#}
            multiple {# -#}
            aria-multiselectable="true" {# -#}
            class="ha-select ha-select--multi ha-multiselect" {# -#}
            data-testid="{{- field.name -}}-select">
        {%- for choice in widget.choices -%}
            <option value="{{- choice.value -}}" {%- if choice.selected -%} selected{%- endif -%}>{{- choice.label -}}</option>
        {%- endfor -%}
    </select>
{%- endcall -%}
