{%- from "components/_macros.html" import field_wrapper -%}
{%- call field_wrapper(field) -%}
    {%- if widget.preload -%}
    <select id="{{- field.name -}}" {# -#}
            name="{{- field.name -}}" {# -#}
            multiple {# -#}
            aria-multiselectable="true" {# -#}
            class="ha-select ha-select--multi ha-select--relation" {# -#}
            data-testid="{{- field.name -}}-relation-multiselect">
        {%- for choice in widget.choices -%}
            <option value="{{- choice.value -}}" {%- if choice.selected -%} selected{%- endif -%}>{{- choice.label -}}</option>
        {%- endfor -%}
    </select>
    {%- else -%}
    <select id="{{- field.name -}}" {# -#}
            name="{{- field.name -}}" {# -#}
            multiple {# -#}
            aria-multiselectable="true" {# -#}
            class="ha-select ha-select--multi ha-select--relation ha-select--lazy{%- if widget.dependent_on %} ha-select--dependent{%- endif -%}" {# -#}
            data-testid="{{- field.name -}}-relation-multiselect" {# -#}
            hx-get="{{- widget.choices_url -}}?q=" {# -#}
            {%- if widget.dependent_on -%}
            hx-trigger="focus delay:200ms, input changed delay:300ms, change from:[name={{- widget.dependent_on -}}]" {# -#}
            hx-include="[name={{- widget.dependent_on -}}]" {# -#}
            {%- else -%}
            hx-trigger="focus delay:200ms, input changed delay:300ms" {# -#}
            {%- endif -%}
            hx-target="#{{- field.name -}}-options" {# -#}
            hx-swap="innerHTML">
        {%- for choice in widget.choices -%}
            <option value="{{- choice.value -}}" {%- if choice.selected -%} selected{%- endif -%}>{{- choice.label -}}</option>
        {%- endfor -%}
        <span id="{{- field.name -}}-options"></span>
    </select>
    {%- endif -%}
{%- endcall -%}
