{%- from "components/_macros.html" import field_wrapper -%}
{%- call field_wrapper(field) -%}
    <select id="{{- field.name -}}" {# -#}
            name="{{- field.name -}}" {# -#}
            class="ha-select" {# -#}
            data-testid="{{- field.name -}}-select">
        {%- if widget.choices is defined and widget.choices -%}
            {%- for choice in widget.choices -%}
                <option value="{{- choice.value -}}" {%- if choice.selected -%} selected{%- endif -%}>{{- choice.label -}}</option>
            {%- endfor -%}
        {%- else -%}
            {%- for choice in field.model_field.annotation -%}
                <option value="{{- choice.value -}}" {%- if choice == field.value -%} selected{%- endif -%}>{{- choice.name -}}</option>
            {%- endfor -%}
        {%- endif -%}
    </select>
{%- endcall -%}
