<div class="ha-form-group">
    <label for="{{- field.name -}}" class="ha-label">
        {{- field.label -}}{%- if field.required -%}<span class="ha-required">*</span>{%- endif -%}
    </label>
    <select id="{{- field.name -}}" {# -#}
            name="{{- field.name -}}" {# -#}
            class="ha-select" {# -#}
            data-testid="{{- field.name -}}-select">
        {%- if widget.choices is defined and widget.choices -%}
            {%- for choice in widget.choices -%}
                <option value="{{- choice.value -}}" {%- if choice.selected -%} selected{%- endif -%}>{{- choice.label -}}</option>
            {%- endfor -%}
        {%- else -%}
            {%- for choice in field.model_field.annotation -%}
                <option value="{{- choice.value -}}" {%- if choice == field.value -%} selected{%- endif -%}>{{- choice.name -}}</option>
            {%- endfor -%}
        {%- endif -%}
    </select>
    {%- if field.help_text -%}<p class="ha-help-text">{{- field.help_text -}}</p>{%- endif -%}
    {%- if field.errors -%}
        <ul class="ha-field-errors" aria-live="polite" data-testid="{{ field.name }}-errors">
            {%- for e in field.errors -%}<li>{{- e -}}</li>{%- endfor -%}
        </ul>
    {%- endif -%}
</div>
