<nav class="ha-navbar">
    <div class="ha-navbar-inner">
        <a href="/" class="ha-navbar-brand">HyperAdmin</a>
        <div x-data="{ open: false }" class="ha-navbar-user">
            <button @click="open = !open" class="ha-navbar-user-btn">
                <svg class="ha-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0z"></path>
                </svg>
                <span>Admin</span>
                <svg class="ha-icon-sm" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div x-show="open" @click.away="open = false" class="ha-dropdown">
                <a href="#" class="ha-dropdown-item">Profile</a>
                <a href="#" class="ha-dropdown-item">Settings</a>
                <a href="#" class="ha-dropdown-item">Logout</a>
            </div>
        </div>
    </div>
</nav>