<aside class="ha-sidebar" data-testid="sidebar">
    <div class="ha-sidebar-inner">
        <h2 class="ha-sidebar-title">Menu</h2>
        <ul class="ha-sidebar-nav">
            <li>
                <a href="/admin/user" class="ha-sidebar-link">Users</a>
            </li>
            <li>
                <a href="#" class="ha-sidebar-link">Groups</a>
            </li>
            <li>
                <a href="#" class="ha-sidebar-link">Permissions</a>
            </li>
        </ul>
    </div>
</aside>