{%- extends "form_layout.html" -%}

{%- block form_title -%}
    Create {{ model_name }}
{%- endblock -%}

{%- block form_attributes -%}
    hx-post="{{- url_for(model_name|lower ~ '-create') -}}"
    hx-target="#{{- model_name|lower -}}-form-body"
    hx-swap="innerHTML"
{%- endblock -%}

{%- block form_body -%}
    {%- if form.fieldset_groups|length > 1 or (form.fieldset_groups|length == 1 and form.fieldset_groups[0].name) -%}
        {%- for group in form.fieldset_groups -%}
            {%- include "components/fieldset.html" -%}
        {%- endfor -%}
    {%- else -%}
        {%- for field in form.fields -%}
            {%- set widget = field.widget -%}
            {%- include field.widget.template_path -%}
        {%- endfor -%}
    {%- endif -%}
{%- endblock -%}

{%- block form_actions -%}
    <div class="ha-form-actions">
        <button type="submit" class="ha-btn ha-btn-primary">
            Create
        </button>
        <a href="{{- url_for(model_name|lower ~ '-list') -}}" class="ha-cancel-link">
            Cancel
        </a>
    </div>
{%- endblock -%}
