{%- extends "detail_layout.html" -%}

{%- block detail_title -%}{{ item_name }}{%- endblock -%}

{%- block detail_fields -%}
    <div class="ha-card">
        {%- for key, value in item.items() -%}
        <div class="ha-form-group">
            <label class="ha-label">
                {{- key -}}
            </label>
            <div class="ha-field-value">
                {{- value -}}
            </div>
        </div>
        {%- endfor -%}
    </div>
    <a href="../" class="ha-text-link">Back to list</a>
{%- endblock -%}