{%- extends "base.html" -%}

{%- block title -%}{{ model_name }} List | HyperAdmin{%- endblock -%}

{%- block content -%}
    <h1 class="ha-section-title">{{- model_name -}} List</h1>
    <div class="ha-list-toolbar">
        <a href="{{- url_for(model_name|lower ~ '-create-form') -}}" class="ha-btn ha-btn-primary" data-testid="create-link">
            Create New {{ model_name }}
        </a>
    </div>

    {%- include "components/search_input.html" -%}

    {%- include "components/filter_bar.html" -%}

    <div id="list-container"
         hx-target="this"
         hx-swap="outerHTML">
        {%- block list_container -%}
            {%- include "components/table.html" -%}
        {%- endblock -%}
    </div>
{%- endblock -%}